.idea/
cmake-build-*/
*.iws
out/
atlassian-ide-plugin.xml
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
go.work
k8m
tmp/
bin/
/def.json
/example.json
/uploads/
/ui/node_modules/
/ui/.idea/


./data/
./data/k8m.db

/.env
/.env.dev.local
.vscode//.cache/
